.externalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.externalContainer > h3 {
    color: rgb(var(--dark-gray-2));
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: center;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    background-color: rgb(var(--white));
    width: 104px;
    height: 104px;
}

.container > img {
    cursor: pointer;
}
