@use "../../assets/styles/TextClasses" as *;

section {
    background-color: var(--light-gray-3);
}

.externalContainer {
    display: flex;
    gap: 1em;
}

.leftContainer {
    flex: 1;
    gap: 12px;
    padding-right: 0 !important;
    max-width: 50%;
}

.rigthContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.5em;
    padding-left: 0 !important;
}

// Top




// Bottom

