.container {
    display: flex;
    flex-shrink: 0;
    gap: 8px;
}

.container label {
    color: var(--dark-gray-2);
    font-weight: 500;
    font-size: 14px;
    font-family: Inter;
    letter-spacing: 0.25px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.container label::first-letter {
    text-transform: uppercase;
}

.container input {
    border-color: var(--dark-gray-3);
    width: 22px !important;
    height: 22px !important;

    padding-inline: 0 !important;
    padding-block: 0 !important;
    accent-color: var(--primary);
}
