@use "../../assets/styles/TextClasses";

.externalContainer {
    @include TextClasses.text-small;

    display: flex;
    
    background-color: var(--light-gray-3);

    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
