@use "../../assets/styles/TextClasses";

.externalContainer {
    @include TextClasses.text-small;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    background-color: rgb(var(--light-gray-3));

    width: 100%;
}
