@use "../../assets/styles/TextClasses";

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 1rem;
    padding-bottom: 5rem !important;
    background-color: rgb(249, 248, 254);
}

.tredingProductsTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tredingProductsTop h2 {
    @include TextClasses.text-large-bold;
}

.tredingProductsTop h4 {
    @include TextClasses.text-medium;
}

// TODO: colocar no notion, 

.tredingProductBotton {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(292px, 1fr));
    gap: calc((100% - (4 * 292px)) / 3);
}
