.cardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 2px solid var(--primary);
    border-radius: 12px;
    color: var(--white);
    height: fit-content;

    background: var(--dark-gray);

    padding: 1em;
    text-align: center;
}
