.primaryButton {
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    background-color: rgb(var(--primary));
    height: 40px;
    color: rgb(var(--light-gray-3));
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: center;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;

    &:hover {
        background-color: rgb(var(--tertiary));
    }
    &:disabled {
        background-color: rgb(var(--light-gray-2));
    }
}

.secondaryButton {
    border: 0;
    border-radius: 8px;
    background-color: rgb(var(--light-gray-3));
    height: 40px;
    color: rgb(var(--primary));
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: center;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;

    &:hover {
        background-color: rgb(var(--secondary));
        color: #f7f7fc;
    }
    &:disabled {
        opacity: 50%;
    }
}
