@use "../../assets/styles/TextClasses";

.container {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: rgb(249, 248, 254);
    padding-top: 2rem;
}
.container h1 {
    @include TextClasses.text-large-bold;
}

.featuredCollectionsTop {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.featuredCollectionsTop > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.featuredCollectionsBotton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 6rem 0 0 0;
}
.featuredCollectionsBotton > h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.featuredCollectionsBotton > div {
    display: flex;
    gap: 3.5rem;
}
