@use "../../assets/styles/TextClasses" as *;

.breadcrumb {
    margin: 10px 0;
    padding: 2rem 0 0 4rem !important;
    font-size: 14px;

    ul {
        display: flex;
        list-style: none;

        li {
            &:not(:last-child)::after {
                margin: 0 8px;
                content: " / ";
                color: var(--light-gray);
            }

            a {
                text-decoration: none;
                @include text-x-small;
                color: var(--dark-gray-2);

                text-transform: capitalize;

                &:hover {
                    text-decoration: none;
                }
            }

            span {
                @include text-x-small-bold;
                color: var(--dark-gray-2);
            }
        }
    }
}
