.table {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-spacing: 0;

    padding: 0 !important;
    width: 100%;
    height: fit-content;

    overflow: hidden;

    color: rgb(var(--white));
    text-align: center;

    & caption {
        position: relative;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        background-color: rgb(var(--dark-gray));
        padding: 8px;
        color: rgb(var(--white));

        & .add {
            position: absolute;
            right: 10px;
            box-sizing: border-box;
            border: 2px solid rgb(var(--white));
            border-radius: 12px;
            width: 24px;
            height: 24px;
            color: rgb(var(--white));
            line-height: 18px;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: rgb(var(--white));
                color: rgb(var(--dark-gray));
            }
        }
    }

    & th {
        background-color: rgb(var(--tertiary));
    }

    & td {
        padding: 12px;
    }

    & thead {
        & tr {
            & th {
                padding: 12px;
                text-transform: capitalize;
            }
        }
    }

    tbody {
        & tr {
            background: rgba(var(--tertiary), 0.9);
            color: rgba(var(--white), 0.9);

            .deleteBtn {
                background-color: rgb(var(--tertiary));

                &:hover {
                    border-color: rgba(var(--tertiary), 1);
                    background-color: rgba(var(--white), 0.9);
                    color: rgba(var(--dark-gray), 0.9);
                }
            }
        }

        & tr:nth-of-type(even) {
            background: rgba(var(--light-gray-2), 1);
            color: rgba(var(--dark-gray), 0.9);

            .deleteBtn {
                border: 2px solid rgba(var(--tertiary), 0.8);
                background-color: rgb(var(--white));

                &:hover {
                    border-color: rgba(var(--dark-gray), 0.9);
                    background-color: rgb(var(--tertiary));
                    color: rgba(var(--white), 0.9);
                }
            }
        }
    }
}

.deleteBtn {
    all: unset;
    cursor: pointer;
    border: 2px solid rgb(var(--white));
    border-radius: 8px;
    padding: 4px;
}
