.table {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-spacing: 0;

    padding: 0 !important;
    height: fit-content;

    overflow: hidden;

    color: rgb(var(--white));
    text-align: center;

    & caption {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        background-color: rgb(var(--dark-gray));
        padding: 8px;
        color: rgb(var(--white));
    }

    & th {
        background-color: rgb(var(--tertiary));
    }

    & td {
        padding: 12px;
    }

    & thead tr {
        & th {
            text-transform: capitalize;
        }
    }

    tbody {
        & tr {
            background: rgb(var(--tertiary));
        }

        & tr:nth-of-type(even) {
            background: rgb(var(--white));
            color: rgb(var(--dark-gray));
        }
    }
}
