.publicExternalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    & > * {
        padding: 2rem 4rem;
    }
}

.dashboardExternalContainer {
    display: flex;

    & > * {
        padding: 1.5em 2em;
    }
}
