.topSection {
  background-color: #f9f8fe;
  display: flex;
  justify-content: space-between;
}

.bottomSection {
  background-color: #f9f8fe;
  display: flex;
}

.filtersContainer {
  padding: 12px 8px;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
}
.categorieContainer {
    display: flex;
    flex-direction: column;
}

.productContainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 12px;
}

.customProductCard {
  position: relative;
}

.customProductCard > p {
  position: absolute;
  top: 5%;
}
