.topSection {
    background-color: #f9f8fe;
    display: flex;
    justify-content: space-between;
}

.bottomSection {
    background-color: #f9f8fe;
    display: flex;
}

.bottomSection > div {
    padding: 0;
}

.filtersContainer {
    width: 25%;
    padding-right: 1rem !important;
}

.productContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.customProductCard {
    position: relative;
}

.customProductCard > p {
    position: absolute;
    top: 5%;
}
