body {
    background-color: #39414e;
}

h1 {
    color: #e9e979;
    font-size: 20px;
}

p {
    color: #cbdbdb;
    font-size: 18px;
}

div {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    max-width: 600px;
}

a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
