.externalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.externalContainer > h3 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--dark-gray-2);

}

.container {
    width: 104px;
    height: 104px;
    background-color: var(--white);
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > img {
    cursor: pointer;
}