.container {
    display: flex;
    gap: 48px;

    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.container > div {
    width: 100%;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.aboutContainer > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subTitle {
    color: rgb(var(--primary));
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.title {
    color: rgb(var(--dark-gray-2));
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    font-family: Inter;
    letter-spacing: 0.9999998807907104px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.about {
    color: rgb(var(--dark-gray-2));
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.btnOffers {
    width: 200px;
}
