.container {
    display: flex;
    background-color: rgb(var(--light-gray-3));
    padding: 4rem 4rem;
}

.customSwiper {
    padding: 0 !important;
}

.slideContainer {
    display: flex;
    align-items: center;
    height: 500px;
}

.info {
    display: flex;
    flex: 1.5;

    flex-direction: column;
    gap: 24px;
}

.info h3 {
    color: rgb(var(--warning));
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.info h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 66px;
    font-family: Inter;
    letter-spacing: 0.9999998807907104px;
    text-align: left;
}

.info p {
    color: rgb(var(--dark-gray-2));
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
}

.offersBtn {
    width: 220px;
    height: 48px;
}

.imageContainer {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    max-height: min-content;
    max-height: 350px;
}

.imageContainer > img {
    position: relative;

    transform: rotate(-20deg);
    max-width: min-content;
    max-width: 600px;
}

.ornament {
    position: absolute;
    top: 10%;

    right: 0.5%;
    width: 100px;
}
