.cardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    border-radius: 12px;
    background: rgb(var(--dark-gray));
    padding: 1em;
    width: 300px;
    height: 250px;
    color: rgb(var(--white));
    text-align: center;

    & .cardHead {
        & > svg {
            width: 96px;
            height: auto;
        }
    }
}
