@mixin title-large {
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 64px;
    line-height: 66px;
    font-family: Inter;
    letter-spacing: 0.9999998807907104px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin title-medium {
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    font-family: Inter;
    letter-spacing: 0.9999998807907104px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin title-small {
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    font-family: Inter;
    letter-spacing: 1px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin title-x-small {
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    font-family: Inter;
    letter-spacing: 2px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin title-small-bold {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    font-family: Inter;
    letter-spacing: 1px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin title-large-bold {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 64px;
    line-height: 66px;
    font-family: Inter;
    letter-spacing: 1px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin text-large {
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin text-medium {
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin text-small {
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin text-x-small {
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    font-family: Inter;
    letter-spacing: 0.25px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin text-tinny {
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: Inter;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin text-large-bold {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}
@mixin text-medium-bold {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin text-small-bold {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin text-x-small-bold {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

@mixin text-tinny-bold {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    font-family: Inter;
    letter-spacing: 0.75px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}
