.externalContainer {
    background-color: var(--light-gray-3);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    max-width: 500px;
    display: flex;

    flex-direction: column;
    gap: 24px;
}

.info h3 {
    color: var(--warning);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.info h1 {
    font-family: Inter;
    font-size: 64px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 0.9999998807907104px;
    text-align: left;
}

.info p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.75px;
    text-align: left;

    color: var(--dark-gray-2);
}

.offersBtn {
    width: 220px;
    height: 48px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: min-content;
}

.imageContainer > img {
    max-width: min-content;
    position: relative;
    max-width: 600px;

    transform: rotate(-20deg);
}



.ornament {
    position: absolute;
    width: 100px;

    right: 2%;
    top: 10%;
}