@use "../../../assets/styles/TextClasses" as *;

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.descriptionTitle {
    @include text-x-small-bold;
    color: rgb(var(--light-gray));
}

.description {
    @include text-x-small;
    color: rgb(var(--dark-gray-2));
}
