.table {
    border-spacing: 0;

    padding: 0 !important;
    height: fit-content;

    color: var(--white);
    text-align: center;

    & caption {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        background-color: var(--dark-gray);
        padding: 8px;
        color: var(--white);
    }

    & th {
        background-color: var(--tertiary);
    }

    & td {
        padding: 12px;
    }

    & thead tr {
        & th {
            text-transform: capitalize;
        }
    }

    tbody {
        & tr {
            background: var(--tertiary);
        }

        & tr:nth-of-type(even) {
            background: white;
            color: var(--dark-gray);
        }

        & tr:last-child {
            & td:last-child {
                border-bottom-right-radius: 12px;
            }
            & td:first-child {
                border-bottom-left-radius: 12px;
            }
        }
    }
}
