@use "../../assets/styles/TextClasses" as *;

.topSection {
    display: flex;
    justify-content: space-between;
    background-color: #f9f8fe;
}

.bottomSection {
    display: flex;
    background-color: #f9f8fe;
}

.bottomSection > div:last-child {
    padding-left: 0.5em !important;
}

.filtersContainer {
    padding-right: 1em !important;
    width: 35%;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
}

.customProductCard h2 {
    margin: 0;
    line-height: 24px;
}

/* Dropdown customizado */

.orderByTitle {
    margin: 0;
    @include text-small-bold;
}

.orderByTitle span {
    margin: 0 1em;
    @include text-small;
    color: var(--dark-gray-2);
}

.orderByTitle span::after {
    margin: 0 0 0 1em;
    content: "▼";
    color: var(--dark-gray-2);
    font-size: 12px;
}

.dropdownTrigger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--dark-gray-2);
    border-radius: 5px;
    background-color: transparent;
    width: 330px;
    height: 60px;
    color: var(--dark-gray-2);
}

.dropdownMenu {
    outline: none;
    border: 1px solid var(--dark-gray-2) !important;
    border-radius: 5px;
    background-color: transparent;
    min-width: 330px;
    list-style: none;

    .dropdownItem {
        cursor: pointer;
        outline: none;
        background-color: var(--primary);
        padding: 10px;
        color: var(--white);
        font-size: 16px;
        list-style: none;
        text-align: center;

        a {
            text-decoration: none;
            color: var(--white);
        }

        &:hover {
            background-color: var(--white);
            color: var(--primary);

            a {
                color: var(--primary);
            }
        }

        &:active {
            background-color: var(--primary);
        }

        &:first-child {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        &:last-child {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
    
}
