@use "../../../assets/styles/TextClasses" as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    @include title-medium-bold;

    &::first-letter {
        text-transform: uppercase;
    }
}

.infos {
    @include text-tinny;
    color: var(--dark-gray-3);
}

.ratingContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ratingContainer :last-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

.rateBadge {
    border-radius: 4px;
    background-color: var(--warning);
    padding: 6px 10px;
    width: 63px;
    height: 23px;
    color: var(--white);

    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    font-family: Inter;
    letter-spacing: 0.25px;
    text-align: center;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.rateCount {
    @include text-x-small;
    color: var(--light-gray);
}

.price {
    @include title-small;
    color: var(--dark-gray-2);

    &::before {
        content: "R$";
        @include text-small;
        color: var(--dark-gray-2);
    }
}