.storeLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    gap: 50px;
}

.signupLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.signup {
    width: 102px;
    color: var(--dark-gray-2);
    line-height: 28px;
    font-size: 16px;

    z-index: 1;
}

.btnLogin {
    color: white;
    background-color: var(--primary);
    border-radius: 8px;
    border: 0;
    min-width: 100px;
    max-height: 40px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;

    cursor: pointer;

    outline-offset: none;

    &:hover {
        background-color: var(--tertiary);
    }
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.cart > span {
    color: white;
    font-size: 12px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    left: 70%;
    bottom: 50%;
    background-color: var(--error);
    border-radius: 50%;
}


