.formContainer {
    display: flex;
    flex-direction: column;

    gap: 12px;
    & div {
        display: flex;
        justify-content: space-between;
        gap: 12px;

        & label {
            height: 20px;
        }
    }
}
