@use "../../../../assets/styles/TextClasses";

.overlay {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    inset: 0px;

    background-color: rgba(var(--tertiary), 0.3);

    color: rgb(var(--white));

    & h3 {
        text-align: center;
    }

    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        gap: 8px;

        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & label {
            width: 100px;
            text-transform: capitalize;
        }

        & input {
            width: 200px;

            &:disabled {
                color: rgb(var(--dark-gray));
            }
        }

        & button {
            @include TextClasses.text-medium;
            transition: background-color 200ms;
            margin: 0 auto;
            margin-top: 12px;
            border: 0;
            border-radius: 8px;
            background-color: rgb(var(--white));
            width: 100px;
            height: 40px;
            text-align: center;

            &:hover {
                background-color: rgba(var(--white), 0.9);
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    inset: 40px;
    outline: none;
    border: 2px solid rgb(var(--light-gray-3));
    border-radius: 4px;
    background: rgb(var(--dark-gray));
    padding: 18px;

    width: fit-content;
    overflow: hidden;
}
