.menu {
    display: flex;
    align-items: center;
    gap: 18px;
    list-style: none;
}

.menu > * > a {
    cursor: pointer;
    color: rgb(var(--dark-gray-2));
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: Inter;
    text-decoration: none;
}

.selected {
    color: rgb(var(--primary)) !important;
    font-weight: 700 !important;
}

.selected::after {
    display: block;
    background-color: rgb(var(--primary));
    width: 100%;
    height: 2px;
    content: " ";
}
