@use "../../../assets/styles/TextClasses";

.container {
    background-color: rgb(var(--tertiary));
    padding: 0 !important;
    width: fit-content;

    height: 100vh;

    @include TextClasses.text-medium;
    color: rgb(var(--white));

    & nav {
        padding: 1.5rem 3rem;
        padding-left: 1rem;
        & ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
            list-style-type: none;

            & li {
                & a {
                    color: rgb(var(--white));
                    text-decoration: none;
                }
            }
        }
    }
}

.selected {
    border-bottom: 2px solid var(--white);
}
